<header class="header_">
    <div class="header_class">
        <div class="class_logo">
            <img src="/img/logo.png" alt="" class="logo">
        </div>
        <nav class="nav_">
            <ul class="nav_ul">
                <li><a href="">Ingresar</a></li>
                <li><a id="open" href="">Registrarse</a></li>
            </ul>
            <ul class="nav_ul_center">
                <div class="search_bar">
                    <input class="input_" type="search" placeholder=" Buscar">
                    <div class="btn">
                        <i class="fas fa-search icon"></i>
                    </div>
                </div>
            </ul>
        </nav>
    </div> 
    <div class="header_b">
        <div class="header_b_secundario">
            <div class="ico_u">
                <img class="iconos" src="/icos/global.png" alt=""> 
                <ul class="lugares">
                    <li><a href=""><i class="fa-solid fa-location-dot"></i>Localización</a></li>
                    <li><a href=""><i class="fa-solid fa-location-arrow"></i>Petfriendly</a></li>
                </ul>
            </div>
                <div class="ico_d">
                    <img class="iconos" src="/icos/billetera.png" alt="">
                    <ul class="compras">
                        <li><a href=""><i class="fa-solid fa-bone"></i>Mis juguetes</a></li>
                        <li><a href=""><i class="fa-solid fa-cookie"></i>Tengo hambre</a></li>
                        <li><a href=""><i class="fa-solid fa-glasses"></i>Soy fashion</a></li>
                    </ul>
                </div>
                <div class="ico_t">
                    <img class="iconos" src="/icos/gatito.png" alt="">
                    <ul class="servicios">
                        <li><a href=""><i class="fa-solid fa-face-sad-tear"></i>Toy malito</a></li>
                        <li><a href=""><i class="fa-solid fa-graduation-cap"></i>Enseñame</a></li>
                    </ul>
                </div>
                <div class="ico_c">
                    <img class="iconos" src="/icos/compras.png" alt="">
                </div>
            </ul>
        </div>
    </div>
    <!--
    <div class="modal-container">
      <div class="modal modal-close">
        <p class="close">x</p>
        <div class="modal-img">
            <img src="/img/form.png" alt="">
        </div>
        <div class="conteiner-form">
            <h2>EnjoyourPet</h2>
            <p>¡Disfruta junto a tu mascota!</p>
          <form class="form_login" action="/" method="get">  
                <input class="" type="text" name="nombre" placeholder="Nombre" required>
                <input class="" type="email" name="correo" placeholder="Correo" required>          
                <input class="" type="password" name="contrseña" placeholder="Contraseña" required>                
                <input class="" type="number" name="numero" placeholder="Número de celular" required> 
                <button type="submit" class="btn" name="enviar">Registrarte</button>                
          </form>
          <p>¿Yatienes una cuenta? <a href="">Iniciar Sesión</a></p>
        </div>
      </div>
    </div>
    <script src="/js/estilo.js"></script>-->
</header>