<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="shortcut icon" href="/img/ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/form.css">
    <!--<script src="/js/publicity.js"></script>-->
    <title>Tu mascota</title>
</head>
<body>
    
    <%- include("./partials/header.ejs") %>


    <div id="adlateral1"></div>
    <div id="adlateral2"></div>

    <div class="main">
        
        <div class="position">
            <h1>El mundo de tu mascota.</h1>
            <p>El lugar perfecto para tu mascota.</p>
        </div>
        <section>
            <h2></h2>
    
        </section>
    </div>
    
    <%- include("./partials/footer.ejs") %>
</body>
</html>